<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>processArticle</servlet-name>
        <servlet-class>process.processArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getNews</servlet-name>
        <servlet-class>process.getNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processBug</servlet-name>
        <servlet-class>process.processBug</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processStory</servlet-name>
        <servlet-class>process.processStory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getNewsAgency</servlet-name>
        <servlet-class>process.getNewsAgency</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploads</servlet-name>
        <servlet-class>com.util.uploads</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processResults</servlet-name>
        <servlet-class>process.processResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getResults</servlet-name>
        <servlet-class>getResults</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>processArticle</servlet-name>
        <url-pattern>/processArticle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>processNews</servlet-name>
        <servlet-class>process.processNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>processNews</servlet-name>
        <url-pattern>/processNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getNews</servlet-name>
        <url-pattern>/getNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processBug</servlet-name>
        <url-pattern>/processBug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processStory</servlet-name>
        <url-pattern>/processStory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getNewsAgency</servlet-name>
        <url-pattern>/getNewsAgency</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>/images/articles</param-name>
        <param-value>/var/lib/openshift/53042f594382ec0e06000252/app-root/data</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>uploads</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processResults</servlet-name>
        <url-pattern>/processResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getResults</servlet-name>
        <url-pattern>/getResults</url-pattern>
    </servlet-mapping>
</web-app>
